In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Data/Uber-Jan-Feb-FOIL.csv")
data['date'] = pd.to_datetime(data['date'])

In [3]:
data = data.sort_values('date')

In [4]:
data['day_of_week'] = data['date'].dt.day_name()
data['is_weekend'] = data['day_of_week'].isin(['Saturday', 'Sunday']).astype(int)
data['month'] = data['date'].dt.month
data['day'] = data['date'].dt.day

In [5]:
data['trips_rolling_mean_3'] = data['trips'].rolling(window=3).mean()
data['trips_rolling_mean_7'] = data['trips'].rolling(window=7).mean()

In [6]:
data['lag_1'] = data['trips'].shift(1)
data['lag_2'] = data['trips'].shift(2)
data['lag_3'] = data['trips'].shift(3)

In [8]:
data = data.dropna().reset_index(drop=True)
display(data.head(10))

,dispatching_base_number,date,active_vehicles,trips,day_of_week,is_weekend,month,day,trips_rolling_mean_3,trips_rolling_mean_7,lag_1,lag_2,lag_3
0,B02764,2015-01-02,3147,19974,Friday,0,1,2,12138.000000,10915.857143,6903.0,9537.0,7679.0
1,B02765,2015-01-02,196,1001,Friday,0,1,2,9292.666667,10897.142857,19974.0,6903.0,9537.0
2,B02682,2015-01-02,890,5506,Friday,0,1,2,8827.000000,11431.571429,1001.0,19974.0,6903.0
3,B02617,2015-01-02,1137,7065,Friday,0,1,2,4524.000000,8237.857143,5506.0,1001.0,19974.0
4,B02598,2015-01-02,785,4768,Friday,0,1,2,5779.666667,7822.000000,7065.0,5506.0,1001.0
5,B02512,2015-01-02,175,875,Friday,0,1,2,4236.000000,6584.571429,4768.0,7065.0,5506.0
6,B02765,2015-01-03,201,1526,Saturday,1,1,3,2389.666667,5816.428571,875.0,4768.0,7065.0
7,B02617,2015-01-03,1188,10664,Saturday,1,1,3,4355.000000,4486.428571,1526.0,875.0,4768.0
8,B02598,2015-01-03,818,7432,Saturday,1,1,3,6540.666667,5405.142857,10664.0,1526.0,875.0
9,B02682,2015-01-03,915,8010,Saturday,1,1,3,8702.000000,5762.857143,7432.0,10664.0,1526.0